.header {
  min-height: 650px;

  @media (max-width: 1023px) {
    min-height: 638px;
  }

  @media (max-width: 767px) {
    min-height: 500px;
  }
}

.header__background-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 650px;
  object-fit: cover;
  z-index: -1;

  @media (max-width: 1023px) {
    height: 638px;
  }

  @media (max-width: 767px) {
    height: 500px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;

  @media (max-width: 1023px) {
    padding-top: 30px;
  }

  @media (max-width: 767px) {
    padding-top: 21px;
  }
}

.header__logo svg {
  fill: #f9fbfd;

  &:hover {
    fill: #7695c4;
    transition: 0.1s;
  }

  @media (max-width: 1023px) {
    width: 38px;
    height: 20px;
  }
}

.header__nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 5px;

  @media (max-width: 1023px) {
    align-items: start;
    padding-bottom: 0;
    margin-top: -2px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.header__nav-link {
  margin-left: 34px;

  @media (max-width: 1023px) {
    margin-left: 23px;
  }
}

.header__title {
  margin: 190px 0 11px 95px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #f9fbfd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1023px) {
    margin: 211px 0 11px 0;
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
  }

  @media (max-width: 767px) {
    margin: 128px 0 11px;
    font-size: 36px;
    line-height: 125%;
  }
}

.header__subtitle {
  margin: 0;
  margin-left: 95px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #f9fbfd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & br {
    display: none;
  }

  @media (max-width: 1023px) {
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;

    & br {
      display: block;
    }
  }
}

.header__toggle-button {
  display: none;
  position: relative;
  width: 23px;
  height: 22px;
  cursor: pointer;
  background: inherit;
  border: none;

  & svg {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  @media (max-width: 767px) {
    display: block;
  }
}

.header__toggle-open .header__nav-list,
.header__wrapper--no-js .header__nav-list {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 89%;
  height: 100%;
  background: #f9fbfd;
  padding: 75px 15px 15px 15px;
  z-index: 4;
}

.header__toggle-open .header__nav-link,
.header__wrapper--no-js .header__nav-link {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #011c40;
  padding: 10px;
  margin-left: 0;
}

.header__toggle-open .header__nav-item,
.header__wrapper--no-js .header__nav-item {
  margin-bottom: 10px;
}

.header__toggle-open .header__logo-mobile,
.header__wrapper--no-js .header__logo-mobile {
  position: absolute;
  top: 21px;
  left: 20%;
}

.header__wrapper--no-js .header__logo-mobile {
  display: block;
}

.header__toggle-button-close,
.header__logo-mobile {
  display: none;
  z-index: 6;
}

.header__toggle-open .header__toggle-button-close,
.header__toggle-open .header__logo-mobile {
  display: block;
}
